@charset "UTF-8";

@media (min-width: 768px) {

    header > div#menu ul li{
        width: auto;
        display: inline-block;
        padding: 10px;
    }

    main > section.linhanoti {
        display: block;
        width: 70%;
        float: left;
    }

    main > aside.linhabox {
        display: block;
        width: 30%;
        float: right;
    }

    footer {
        float: left;
        width: 100%;
    }

    

    header > h1 > i.btmenu {
        display: none;
    }
}

